# The packages folder can be ignored because of Package Restore
**/packages/*
# except build/, which is used as an MSBuild target.
!**/packages/build/

# .Net Project Ignore
**/[Dd]ebug
**/[Dd]ebugPublic/
**/[Rr]elease/
**/[Rr]eleases/
**/[Bb]in/
**/[Oo]bj/


#User specific
*.user

# angular Ignore
**/node_modules
**/dist/*.js
**/dist/*.js.map
**/dist/*.html
**/src/*.js.map
**/src/**/*.js.map

# Visual Studio cache/options directory
.vs/
