<div *ngIf="property;else no_data_templ">
    <h2>{{ property.name }}</h2>
    <form>
        <div class="form-group row">
            <label for="colFormLabel" class="col-sm-2 col-form-label">Property:</label>
            <div class="col-sm-10">
                <input [(ngModel)]="property.PropertyCode" class="form-control" id="PropertyCode" placeholder="PropertyCode" name="PropertyCode">
            </div>
        </div>

        <div class="form-group row">
            <label for="colFormLabel" class="col-sm-2 col-form-label">Name:</label>
            <div class="col-sm-10">
                <input [(ngModel)]="property.PropertyName" class="form-control" id="PropertyName" placeholder="PropertyName" name="PropertyName">
            </div>
        </div>

        <div class="form-group row">
            <label for="colFormLabel" class="col-sm-2 col-form-label">Address:</label>
            <div class="col-sm-10">
                <input [(ngModel)]="property.Address1" class="form-control" id="Address1" placeholder="Address1" name="Address2">
            </div>
        </div>
        <div class="form-group row">
            <label for="colFormLabel" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input [(ngModel)]="property.Address2" class="form-control" id="Address2" placeholder="Address2" name="Address3">
            </div>
        </div>
        <div class="form-group row">
            <label for="colFormLabel" class="col-sm-2 col-form-label">City:</label>
            <div class="col-sm-10">
                <input [(ngModel)]="property.City" class="form-control" id="City" placeholder="City" name="City">
            </div>
        </div>
        <div class="form-group row">
            <label for="colFormLabel" class="col-sm-2 col-form-label">State-Zip:</label>
            <div class="col-sm-5">
                <input [(ngModel)]="property.State" class="form-control" id="State" placeholder="State" name="State">
            </div>
            <div class="col-sm-5">
                <input [(ngModel)]="property.ZipCode" class="form-control" id="ZipCode" placeholder="ZipCode" name="ZipCode">
            </div>
        </div>
        <div class="form-group row">
            <label for="colFormLabel" class="col-sm-2 col-form-label">Country:</label>
            <div class="col-sm-10">
                <input [(ngModel)]="property.Country" class="form-control" id="Country" placeholder="Country" name="Country">
            </div>
        </div>
        <div class="form-group row">
            <label for="colFormLabel" class="col-sm-2 col-form-label">Notes:</label>
            <div class="col-sm-10">
                <textarea [(ngModel)]="property.Notes" row="3" class="form-control" id="Notes" placeholder="Notes" name="Notes"></textarea>
            </div>
        </div>
    </form>
   
    
</div>

<ng-template #no_data_templ>
    Nothing to display.
</ng-template>
